body {
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-top: 5px;
}
.headerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.score-panel {
    text-align: center;
    width: 600px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.score-panel .stars {
    margin: 2px;
    padding: 2px;
    display: inline-block;
    margin: 0 5px 0 0;  

}

.score-panel .stars li {
    list-style: none;
    float:right;
    
}
.score-panel .moves{
    margin: 5px;

}
.score-panel .timer{
    padding: 5px;

}
.score-panel .restart {
    margin: 10px;
    cursor: pointer;
}
.modal-body{
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.modal-footer{
    display: flex;
    justify-content: space-between;
 
}
