body {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-panel {
    text-align: left;
    width: 600px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .timer{
    display: inline-block;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.modal-body{
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.modal-header{
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}
